*.pyc
__pycache__/
venv/
.env
.ipynb_checkpoints


.DS_Store # Mac OS
*.log
*~
.vscode/


/data/raw/
/data/processed/


/models/*.pkl
/models/*.joblib
/models/*.h5
/models/*.pth


output/
results/
logs/

